<div class="container">
	<div class="row">
		<div class="col-md-24">
			<div class="panel-group">
				<div ng-show="!isAuthenticated" class="panel panel-default">
					<div class="panel-heading">AWS security credentials</div>
					<div class="panel-body">

						<form role="form" ng-submit="submit()">
							<div class="form-group">

								<label for="email"> Email:</label> <input type="email"
									class="form-control" id="email" ng-model="user.email">

							</div>
							<div class="form-group">

								<label for="accessKeyId"> Access Key ID:</label> <input
									type="text" class="form-control" id="accessKeyId"
									ng-model="user.accessKeyId">

							</div>
							<div class="form-group">
								<label for="secretAccessKey">Secret Access Key:</label> <input
									type="password" class="form-control"
									ng-model="user.secretAccessKey" id="secretAccessKey">
							</div>
							<div class="checkbox">
								<label><input type="checkbox"> Remember me</label>
							</div>
							<button type="submit" class="btn btn-default">Submit</button>

						</form>
					</div>
				</div>
				<div ng-show="isAuthenticated" class="panel panel-default">
					<div class="panel-heading">AWS Launch Pad</div>
					<div class="panel-body">

						<a ng-click="callRestricted()" href="">Shh, this is private!</a> <br>
						<a ng-click="stop()" href="">stop</a>
						<h2>
							<a ng-click="waitFor()" href="">waitFor</a>
						</h2>

						<div>{{message}}</div>
						<uib-alert type="success">{{message}}</uib-alert>
						<a ng-click="logout()" href="">Logout</a> <a
							ng-disabled="{{message !='instanceStatusOk'}}"
							ng-href="http://{{publicDnsName}}">{{publicDnsName}}</a>
						</h2>
						<div></div>
					</div>
				</div>

			</div>
		</div>



	</div>
</div>

</div>