<div class="container">
	<div class="row">
		<div class="col-md-24">
			<div class="panel-group">
				<div ng-show="!isAuthenticated" class="panel panel-default">

					<div class="panel-heading">AWS security credentials</div>
					<div class="panel-body">
						<div ng-if="error">
							<uib-alert type="danger">{{error}} </uib-alert>
						</div>

						The credentials must belong to an IAM user with enough privileges
						to start a Bitnami Worpress and create security Groups through API
						calls. (Tested with AdministratorAccess)


						<form role="form" ng-submit="submit()">
							<!-- 							<div class="form-group"> -->
							<!-- 								<label for="email"> Email:</label> <input type="email" -->
							<!-- 									class="form-control" id="email" ng-model="user.email"> -->

							<!-- 							</div> -->
							<!-- 							<div class="form-group"> -->
							<!-- 								<label for="password"> Password:</label> <input type="password" -->
							<!-- 									class="form-control" id="password" ng-model="user.password"> -->
							<!-- 							</div> -->
							<!-- 							<div class="form-group"> -->
							<!-- 								<label for="repassword"> Repeat password:</label> <input type="password" -->
							<!-- 									class="form-control" id="repassword" ng-model="user.repassword"> -->
							<!-- 							</div> -->
							<div class="form-group">

								<label for="accessKeyId"> Access Key ID:</label> <input
									type="text" class="form-control" id="accessKeyId"
									ng-model="user.accessKeyId">

							</div>
							<div class="form-group">
								<label for="secretAccessKey">Secret Access Key:</label> <input
									type="password" class="form-control"
									ng-model="user.secretAccessKey" id="secretAccessKey">
							</div>
							<div class="checkbox">
								<label><input type="checkbox" id="remember"
									ng-model="user.remember"> Remember me</label>
							</div>
							<button type="submit" class="btn btn-default">Submit</button>

						</form>
					</div>
				</div>
				<div ng-show="isAuthenticated" class="panel panel-default">
					<div class="panel-heading">AWS Launch Pad</div>
					<div class="panel-body">

						<uib-alert ng-if="instance" type="{{message.type}}">{{message.desc}}
						<div ng-if="enableDnsLink">
							<a ng-href="http://{{publicDnsName}}" target="_blank">Access
								Bitnami WordPress</a>
						</div>
						</uib-alert>


						<button type="text" class="btn btn-primary" ng-if="instance"
							ng-disabled="!enableDnsLink" ng-click="stop()">Stop
							Instance</button>
						<button type="text" class="btn" ng-click="logout()">Logout</button>


					</div>
				</div>

			</div>
		</div>



	</div>
</div>

